@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables';
@import 'hero.scss';
@import 'entrada.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #00000037, #000000) ,url("../img/juli1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    overflow-x: hidden;
    .h1{
        position: relative;
        font-family: "Montserrat", sans-serif;
        font-size: 20vh;
        color: $color-acento;
        line-height: 5.5;
    }
}